{% extends "base.html" %}

{% block title %}
Tweed: Home
{% endblock %}
 
{% block extra_js %}

<script type="text/javascript">
    function getFriendTimeline(user) {
    $.get(
    "{% url status.views.ajax_friend_timeline %}",
    { screenname: $.trim(user.text()) },
    function(data) {
        $(".statuses").remove();
        $(data).hide().appendTo($(".status-container")).fadeIn();
    }
    )
    }

    function addFriendTimelineHandlers() {
        $(".friend-container .user").click(
	function(e) {
	    e.preventDefault();
	    getFriendTimeline($(this));
	}
        )
    }


    function rate(kind, foundid) {
        $.post(
        "{% url status.views.ajax_rate %}", 
        { rating: kind, id: foundid }
        );
    }

    function rateLike() {
        $(this).die("click");
        rate("up", $(this).closest(".entry").attr("id")); 
        $(this).siblings().hide();
        $(this).closest(".entry").slideUp('', moveToRatings);	
    }

    function rateDislike() {
        $(this).die("click");
        rate("down", $(this).closest(".entry").attr("id")); 
        $(this).siblings().hide();
        $(this).closest(".entry").slideUp('', moveToRatings);	
    }

    function addRateLinkHandlers() {
	$(".status-container .like").live("click", rateLike);
	$(".status-container .dislike").live("click", rateDislike);
    }

    function moveToRatings() {
        $(this).
	prependTo($(".rating-container>.ratings")).slideDown();
    }

    function loadStatuses() {
    if ($(".status-container .entry").size() < 5)
        {
	$.get(
	"{% url status.views.ajax_recent_public_posts %}",
	function(data) {
	    $(data).appendTo($(".status-container")).slideDown();
	    addRateLinkHandlers();
	});
        } 
    }

    function autoRefreshStatuses() {
        setInterval("loadStatuses()", 5000);
    }

    function startJS() {
//        $(".hoverable").hover(
//            function() { $(this).addClass("hilite"); },
//            function() { $(this).removeClass("hilite"); }
//        ); -->
        addRateLinkHandlers();
	addFriendTimelineHandlers();
    }
    $(document).ready(startJS);	
</script>

{% endblock %} 

{% block content %} 
{% if errors %}
<ul>
	{% for error in errors %}
	<li>{{ error }}</li>
	{% endfor %}
</ul>
{% endif %}

<div class="status-container">

<h2>Home</h2>


{% include 'status_list.html' %}


</div>

<!--

<div class="rating-container">
<h2>Ratings</h2>

<div class="ratings">

</div>

</div>
-->

<div class="friend-container">

<h2>Friends</h2>

{% include 'friend_list.html' %}

</div>




{% endblock %}
