{% extends "base.html" %}

{% block title %}
{{ username }} on ClassiWhale
{% endblock %}


{% block content %} 

	<div class="status-prompt">
	    <div>{{ friend.name }}</div>
	    <img class="photo" width="48" height="48" src="{{ friend.GetProfileImageUrl }}" alt="{{ friend.name }} " /> 
		
	</div>
	
	
    <script type="text/javascript">
    $(function() {
        $(window).infinitescroll({
            url: "/status/ajax_user_timeline/",
            appendTo: ".statuses",
            getParams: 'screenname={{ friend.GetScreenName|urlencode }}&max_id={{ max_id }}'
        });
        
        $(window).bind('infinitescroll.finish', function() {
            addRateLinkHandlers();
        });
    });
    </script>


    <div class="statuses">
	   {% include 'status_list.html' %}
	</div>
	
	
{% endblock %}


