{% extends "base.html" %}

{% block title %}
Recent Public Posts
{% endblock %}
 
{% block extra_js %}

<script type="text/javascript">
    function rate(kind, foundid) {
        $.post(
        "{% url status.views.ajax_rate %}", 
        { rating: kind, id: foundid }
        );
    }

    function rateLike() {
        $(this).unbind();
        rate("up", $(this).closest(".entry").attr("id")); 
        $(this).siblings().hide();
        $(this).closest(".entry").slideUp('', moveToRatings);	
    }

    function rateDislike() {
        $(this).unbind();
        rate("down", $(this).closest(".entry").attr("id")); 
        $(this).siblings().hide();
        $(this).closest(".entry").slideUp('', moveToRatings);	
    }

    function addRateLinkHandlers() {
	$(".status-container .like").click(rateLike);
	$(".status-container .dislike").click(rateDislike);
    }

    function moveToRatings() {
        $(this).
	prependTo($(".rating-container>.ratings")).slideDown();
    }

    function loadStatuses() {
    if ($(".status-container .entry").size() < 5)
        {
	$.get(
	"{% url status.views.ajax_recent_public_posts %}",
	function(data) {
	    $(data).appendTo($(".status-container"));
	    addRateLinkHandlers();
	});
        } 
    }

    function autoRefreshStatuses() {
        setInterval("loadStatuses()", 5000);
    }

    function startJS() {
//        $(".hoverable").hover(
//            function() { $(this).addClass("hilite"); },
//            function() { $(this).removeClass("hilite"); }
//        ); -->
        addRateLinkHandlers();
	autoRefreshStatuses();
    }
    $(document).ready(startJS);	
</script>

{% endblock %} 

{% block content %} 
{% if errors %}
<ul>
	{% for error in errors %}
	<li>{{ error }}</li>
	{% endfor %}
</ul>
{% endif %}

<div class="status-container">

<h2>Recent Tweets</h2>

{% include 'status_list.html' %}

</div>

<div class="rating-container">
<h2>Ratings</h2>

<div class="ratings">

</div>

</div>


{% endblock %}
