{% load base_extras %}

<div class="statuses">
{% for status in statuses %}

<div class="entry" id="{{ status.GetId }}">

	<div class="rate-buttons">
		<div class="like{{ status.likeClass }}"></div> 
		<div class="dislike{{ status.dislikeClass }}"></div>
	</div>
	
	<div class="tweet-usr-profile">
		<a href="http://twitter.com/{{ status.GetUser.GetScreenName }}">
			<img class="photo" width="48" height="48" src="{{ status.GetUser.GetProfileImageUrl }}" alt="{{ status.GetUser.GetName }} " /> 
		</a>
	</div>
	
	<div class="tweet-body">
		<p>
			<a class="twtr-user" target="_blank" href="http://twitter.com/{{ status.GetUser.GetScreenName }}">
				{{ status.GetUser.GetScreenName }} 
			</a> {{ status.GetText|urlize|url_target_blank }} <a class="tweet-hlink" target="_blank" href="http://twitpic.com/20seue" target="_blank"></a>
			<i>
				<a class="tweet-timestamp" target="_blank" href="http://twitter.com/{{ status.GetUser.GetScreenName }}/status/{{ status.GetId }}" target="_blank">
					{{ status.GetRelativeCreatedAt }}
				</a> 
			</i>
		</p>
	</div>

</div>

{% empty %} 
There are no posts to display. 
{% endfor %}

</div>














