{% extends "base.html" %} 
{% block title %}
My Statuses
{% endblock %} 
{% block content %}


<h2>Liked Statuses</h2>


{% for status in statuses_like %}

<div class="entry" id="{{ status.GetId }}">

<div class="tweet-usr-profile">
<a href="http://twitter.com/{{ status.GetUser.GetScreenName }}">
<img class="photo" width="48" height="48" 
	src="{{ status.GetUser.GetProfileImageUrl }}"
	alt="{{ status.GetUser.GetName }} " />
</a>
</div>

<div class="tweet-body">
<p>
<a class="twtr-user"
	href="http://twitter.com/{{ status.GetUser.GetScreenName }}">
	{{ status.GetUser.GetScreenName }}
</a> {{ status.GetText }} 

<i>
<a class="tweet-timestamp"
	href="http://twitter.com/{{ status.GetUser.GetScreenName }}/status/{{ status.GetId }}"
	target="_blank">
{{ status.GetRelativeCreatedAt }}
</a>
</i>
</p>
</div>
</div>
{% empty %} There are no posts to display. {% endfor %}

<h2>Disliked Statuses</h2>

{% for status in statuses_dislike %}

<div class="entry" id="{{ status.GetId }}">

<div class="tweet-usr-profile">
<a href="http://twitter.com/{{ status.GetUser.GetScreenName }}">
<img class="photo" width="48" height="48" 
	src="{{ status.GetUser.GetProfileImageUrl }}"
	alt="{{ status.GetUser.GetName }} " />
</a>
</div>

<div class="tweet-body">
<p>
<a class="twtr-user"
	href="http://twitter.com/{{ status.GetUser.GetScreenName }}">
	{{ status.GetUser.GetScreenName }}
</a> {{ status.GetText }} 

<i>
<a class="tweet-timestamp"
	href="http://twitter.com/{{ status.GetUser.GetScreenName }}/status/{{ status.GetId }}"
	target="_blank">
{{ status.GetRelativeCreatedAt }}
</a>
</i>
</p>
</div>
</div>
{% empty %} There are no posts to display. {% endfor %}

{% endblock %}
