{% extends "base.html" %}

{% block title %}
Recent Tweets
{% endblock %}




{% block content %} 

    <script type="text/javascript">
    $(function() {
        $(window).infinitescroll({
            url: "/status/ajax_timeline/",
            appendTo: ".statuses"
        });
        
        $(window).bind('infinitescroll.finish', function() {
            addRateLinkHandlers();
        });
    });
    </script>

	<div class="status-prompt">
	    <div>What&#39;s happening?</div>
	    <input type="text"/>
	</div>
	
	{% load base_extras %}
    {% load tweets %}

    <div class="statuses">
	   {% include 'status_list.html' %}
    </div>
    
{% endblock %}

