{% extends "base.html" %}

{% block title %}
Training Tweets
{% endblock %}

{% block extra_js %}
$(document).ready(function() {
    $(window).infinitescroll({
    url: "/status/ajax_training_set_posts/",
    page: 2,
    appendTo: ".statuses"
    });
    
    $(window).bind('infinitescroll.finish', function() {
        addRateLinkHandlers();
    });
});
{% endblock %}


{% block content %} 

	<div class="status-prompt">
	    <div>What&#39;s happening?</div>
	    <input type="text"/>
	</div>
	
    <div class="statuses">
    {% include 'training_set_list.html' %}

    </div>
    

{% endblock %}


















