mydb.db

local_settings.py

.project
.pydevproject
.ropeproject
*.pyc
*.egg
*~
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.wsgi
*.log
*.sql
*.sqlite

.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
/mydb.db

