<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>

<link rel="stylesheet" href="/static/feed.css" />
<link rel="stylesheet" href="/static/base.css" />
<script type="text/javascript" src="/static/jquery-1.4.2.js"></script>
<title>
{% block title %}
{% endblock %}
</title>

{% block extra_js %}
{% endblock %}

{% block extra_css %}
{% endblock %}

</head>

<body>

<div id="header">
	<div class="logo">Tweed</div>
</div>


<div id="middle">

<div id="sidenav">
<ul>
	<li><a href="{% url tweed.tweet.views.list_statuses %}">Home</a></li>
	<li><a href="{% url tweed.tweet.views.RecentPublicPosts %}">Recent</a></li>
	<li><a href="{% url tweed.tweet.views.user_search_index %}">Search</a></li>
	<li><a href="/about">About</a></li>
</ul>

</div>
<div id="content">
{% block content %}
{% endblock %}
</div>

</div>
<div id="footer">
{% block footer %}
<hr>

{% if user.is_authenticated %} Welcome {{ user.username }}
<a href="/accounts/logout/">Logout</a>
{% else %}
<a href="/accounts/login/">Login</a>
<a href="/accounts/register/">Registration</a>
{% endif %} 

{% endblock %}
</div>

</body>
</html>