/* http://www.positioniseverything.net/easyclearing.html */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
.clearfix {display: block;}
* html .clearfix {height: 1%;}
/* end hide from IE-mac */

html * { padding:0; margin:0; }
body * * { padding:0; }
body {
    font: small "Lucida Grande", "Lucida Sans", verdana, sans-serif;
    background: #E5E5E5;
}
h1 a { color: inherit; text-decoration: none; }
h2 span { font-size:80%; color:#666; font-weight:normal; }

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6, p, ul,
table, form, pre, ol { margin-bottom: 20px; }
ul { margin: 0 0 20px 20px; }

a { color: #333; }
a:visited { color: inherit; }

pre {
    display: block;
    white-space: pre-wrap;       /* CSS-3                  */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999    */
    white-space: -pre-wrap;      /* Opera 4-6              */
    white-space: -o-pre-wrap;    /* Opera 7                */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#header {
    position: relative;
    background: #e0ebff; border-bottom:1px solid #ddd;
    background: #555; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#222222)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #555,  #222); /* for firefox 3.6+ */
    border-bottom: 1px solid #000;
}

#header h1, #header h2 { margin-bottom: 0; }

#header .container {
    position: relative;
    padding: 1em 2em;
    max-width: 1550px;
}
#header .sparkline {
    padding: 5px;
    position: absolute;
    right: 45px;
    top: 20px;
}

#header h1 {
    font-family: 'Yanone Kaffeesatz', arial, serif;
    display: inline-block;
    font-size: 24px;
    line-height: 36px;
    color: #e5e5e5;
    text-shadow: 1px 1px 1px #333;
    font-weight: normal;
}
#header h1 img { float: left; height: 36px; margin-right: 10px; }
#header h2 {
    font-family: 'Yanone Kaffeesatz', arial, serif;
    display: inline-block;
    font-size: 20px;
    line-height: 36px;
    margin-top: 0;
    font-weight: normal;
    color: #888;
    margin-bottom: 0;
    margin-left: 15px;
    color: #ccc;
}
#header h2 span {
    display: inline-block;
    line-height: 36px;
    color: #fff;
    margin-left: 10px;
}
#header h2 span a {
    text-decoration: none;
}

#account {
    position: absolute;
    right: 1em;
    top: 1.8em;
    color: #fff;
}

.nav {
    list-style: none;
    margin-left: 0;
}
.nav a { color: inherit; }
.nav li { display: inline; }
.nav li a { display: inline-block; }

ul.inline {
    margin: 0px;
    padding: 0px;
}

div#nav {
    font-size: 16px;
}

div#nav ul {
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

div#nav ul li {
    background-color: #DADADA;
    border-top-left-radius: 16px 16px;
    border-top-right-radius: 16px 16px;
}

div#nav ul li a {
    color: #888;
    display: block;
    padding-bottom: 0.25em;
    padding-top: 0.4em;
    text-align: center;
    text-decoration: none;
    width: 8.5em;
}

ul.inline li {
    display: inline-block;
    list-style: none;
    zoom: 1;
}

ul#training_set_list li {


}

.training_sets li {
    overflow: hidden;
    padding: 8px 50px 8px 8px;
    padding-right: 50px;
    position: relative;
}

#footer { clear: both; border-top:1px solid #ddd; background-color: #e5e5e5; }
#footer .container {
    color: #666;
    padding: 2em;
    max-width: 1550px;
}
#header table { border:none; background:transparent; }
#body, #sidebar { position: relative; }
#body {
    background: #fff;
    max-width: 100%;
    overflow: hidden;
    margin: 2em 0 2em 2em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 4px #c5c5c5;
    -webkit-box-shadow: 0 1px 4px #c5c5c5;
    box-shadow: 0 1px 4px #c5c5c5;
    padding: 10px 10px 0;
    min-height: 800px;
}

#content {
    border-top: 1px solid #fff;
    overflow: hidden;
    background: #EEEEEE;
    min-width: 900px;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

/* sidebar */

#sidebar {
    float: right;
    width: 300px;
    margin: 0em 2em 2em 1.5em;
    background: inherit;
    overflow: hidden;
}

.sidebar-module {
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 4px #c5c5c5;
    -webkit-box-shadow: 0 1px 4px #c5c5c5;
    box-shadow: 0 1px 4px #c5c5c5;
    position: relative;
}
.sidebar-module-content {
    background: transparent;
}

.sidebar-module h2 {
    color: #fff;
    margin: 0;
    padding: 5px 10px;
    font-size: 1.1em;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-box-shadow: inset 0 0 1px #22579b, 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 0 1px #22579b, 0 1px 0 #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4da2e5', endColorstr='#3079d0'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#4da2e5), to(#3079d0)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #4da2e5,  #3079d0); /* for firefox 3.6+ */
}

.filter-list { margin-left: 0; text-transform: lowercase; }
.filter-select {
    padding: 10px;
}
.filter-select select {
    width: 100%;
}
.filter-list li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0, .05);
    -moz-box-shadow: 0 1px 0 rgba(255,255,255, .3);
     -webkit-box-shadow: 0 1px 0 rgba(255,255,255, .3);
    color: #666;
}

.filter-list li a:hover  {
    background: rgba(131,136,142, .20);
    -moz-box-shadow: inset 0 1px 0 rgba(0,0,0, .1);
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0, .1);
}
.filter-list li.active a {
    color: #3079d0;
    font-weight: bold;
}
.filter-list li:last-child a {
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}

#chart { margin-bottom: 20px; }

.button {
    cursor: pointer;
    display: inline-block;
    color: #888;
    padding: 5px 8px 5px 8px;
    font-size: 12px;
    line-height: 12px;
    border:1px solid #C5C5C5;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#DCDCDC'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#DCDCDC)); /* for webkit browsers */
    background:-moz-linear-gradient(center top , #FFFFFF 0pt, #DCDCDC 100%) repeat scroll 0 0 transparent;
}

/* .button {
    -webkit-box-shadow: rgba(0, 0, 0, 0.0976562) 0px 1px 3px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(gainsboro));
    border: 1px solid #94AFBD;
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
    color: #5A7C9D;
    display: inline-block;
    font-family: Arial, Helvetica, Calibri, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 0px 1px;
    padding: 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: white 0px 1px 0px;
}
*/

.button:hover {
    border:1px solid #3079d0;
    color: #fff;
    text-shadow: 0 -1px 0 #3079d0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4da2e5', endColorstr='#3079d0'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#4da2e5), to(#3079d0)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #4da2e5,  #3079d0); /* for firefox 3.6+ */

}


.search-submit {
    display: block;
    width: 12px;
    height: 12px;
    background: #fff url(../images/search.png);
    text-indent: -9999em;
    border: none;
}

.login-area {
    width: 300px;
    margin: 50px auto;
    background: #eee;
    border: 1px solid #ddd;
    padding: 10px;
}
.login-area p {
    margin-bottom: 10px;
}
.login-form table { width: 295px; }
.login-form td { padding: 2px 0; }
form table {
    border: 0;
    margin: 1em 0;
    background: inherit;
}
form table td { padding: 5px; }
form .submit { text-align: right; }
form .has-errors input,
form .has-errors textarea { border-color: red; }
form td .errors { color: red; margin-top: 5px; font-size: 0.9em; }

form td textarea {
    min-height: 250px;
}
form td textarea,
form td input {
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
form td textarea:focus,
form td input:focus {
    border-color: #333;
}

#group_nav {
    border-bottom: 1px solid #ddd;
}
#group_nav a {
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    padding: 6px 12px;
    text-decoration: none;
}
#group_nav a:hover {
    background: #eee;
}
#group_nav .active a {
    background: #ddd;
    font-weight: bold;
    color: #000;
}
h2 .morelink { text-decoration: none; }



