{% load base_extras %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> 
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"> 
    <meta name="robots" content="NONE,NOARCHIVE">
    <link href='http{% if request.is_secure %}s{% endif %}://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:light,regular&amp;subset=latin' rel='stylesheet' type='text/css'>
    <title>{% block title %}Corsair{% endblock %}</title> 
    <link rel="stylesheet" type="text/css" href="{% url corsair-media "js/jqplot/jquery.jqplot.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% url corsair-media "css/global.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% url corsair-media "css/colorbox.css" %}" />
    <link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" /> 
    <link rel="stylesheet" type="text/css" href="{% url corsair-media "css/ui.multiselect.css" %}" /> 

    <script type="text/javascript" src="http{% if request.is_secure %}s{% endif %}://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% url corsair-media "js/jquery-ui-1.8.9.custom.min.js" %}"></script>
    <script type="text/javascript" src="{% url corsair-media "js/ui.multiselect.js" %}"></script>
    <script type="text/javascript" src="{% url corsair-media "js/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript" src="{% url corsair-media "js/jquery.tmpl.min.js" %}"></script>
    <script type="text/javascript" src="{% url corsair-media "js/jquery.colorbox-min.js" %}"></script>
    <script type="text/javascript" src="{% url corsair-media "js/jqplot/jquery.jqplot.min.js" %}"></script>
    <script type="text/javascript" src="{% url corsair-media "js/jqplot/jqplot.cursor.min.js" %}"></script>
    <script type="text/javascript" src="{% url corsair-media "js/jqplot/jqplot.highlighter.min.js" %}"></script>
    <script type="text/javascript" src="{% url corsair-media "js/jqplot/jqplot.dateAxisRenderer.min.js" %}"></script>
    <script type="text/javascript" src="{% url corsair-media "js/jqplot/jqplot.canvasTextRenderer.min.js" %}"></script>
    <script type="text/javascript" src="{% url corsair-media "js/jqplot/jqplot.canvasAxisLabelRenderer.min.js" %}"></script>
    <script type="text/javascript" src="{% url corsair-media "js/jqplot/jqplot.categoryAxisRenderer.min.js" %}"></script>
    {% block extra_js %}
    {% endblock %}
    {% block extra_css %}
    {% endblock %}
    <script type="text/javascript">
    </script>
  </head>

  <body>
    {% block body %}
    <div id="header"> 
      <div class="container">
        <h1><a href="{% url corsair %}"><img src="{% url corsair-media "img/disruption_web.gif" %}" border="0" width="32"/>Corsair</a></h1>
        <h2>{% block heading %}Dashboard{% endblock %}</h2>
        <ul class="nav" id="account">
          {% if request.user.is_authenticated %}
            <li><a href="{% url corsair-logout %}">Logout</a>
          {% endif %}
        </ul>
      </div>
    </div>
    <div id="middle-wrapper" style="margin-bottom: 0.8em;margin-left:auto;margin-right:auto;min-width: 650px; width: 98%">
      <div id="nav">
	{% block navigation %}
	<ul class="inline">
	  <li class="{% navactive request 'corsair.views.training_sets' %}"><a href="{% url corsair-training_sets %}">Training Sets</a></li>
	  <li class="{% navactive request 'corsair.views.benchmarks' %}"><a href="{% url corsair-benchmarks %}">Benchmarks</a></li>
	</ul>
	{% endblock %}
      </div>
      {% block content_before %}
      {% endblock %}
      <div class="container">
	{% block content %}
	<div id="sidebar" class="column">
	</div>
	
	<div id="body" class="with-sidebar column">
	</div>
	{% endblock %}
      </div>
    </div>
    <div id="footer">
      <div class="container">
      </div>
    </div> 
    {% endblock %}
  </body>
</html>
