* { margin: 0; padding: 0; }

body {
  font: 13px/20px "Lucida Grande", Arial, Sans-serif;
  background: url("/static/img/main_back.jpg") no-repeat center 60px #1E2746;
}

div {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: block;
}

form {
  display: block;
}

a {
  outline: none;
}

.link {
	text-decoration:none;
}

.link:hover {
	text-decoration:underline !important;
}

.clear {
	clear: both;
}


#middle {
  width: 100%;
  display: block;
  overflow: hidden;
  margin-top: 42px;
}

#sidenav {
  float: left;
  width: 140px;
}

#sidenav ul {
  display: block;
  list-style-type: none;
  width: 150px;
}

#content {
  width: 880px;
  margin-left: auto;
  margin-right: auto;  
  color: #333333 !important;
  font-weight: normal;
  text-align: left;
  overflow:hidden;
}

#footer {
  width: 98%;
}


