* { margin: 0; padding: 0; }

body {
  font: 13px/20px "Lucida Grande", Arial, Sans-serif;
}

div {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: block;
}

form {
  display: block;
}

input.middle:focus {
  outline-width:0;
}

a {
  outline: none;
}

.link {
	text-decoration:none;
}

.link:hover {
	text-decoration:underline !important;
}

.clear {
	clear: both;
}

#background {
  background: url("/static/img/main_back.jpg") no-repeat center; 
  background-size: cover;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#middle {
  width: 100%;
  display: block;
  overflow: hidden;
  margin-top: 102px;
}

#sidenav {
  float: left;
  width: 140px;
}

#sidenav ul {
  display: block;
  list-style-type: none;
  width: 150px;
}

#content {
  width: 880px;
  margin-left: auto;
  margin-right: auto;  
  color: #333333 !important;
  font-weight: normal;
  text-align: left;
  overflow:hidden;
}

#footer {
  width: 98%;
}


