/************************
 * Navigation Styles
 ************************
 */

#nav {
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-width: 880px;
  background: url("/static/img/nav_bg_blue.png") repeat 0 0;
  float: left;
  display: inline;
  height: 40px;
  text-align:center;
}

#nav .nav-bound { 
	width:880px; 
	margin:auto;
	margin-top:5px;
}


#nav li {
  display: inline;
  float: right;
}


#nav a,
#nav li.searchContainer {
  display: inline;
  height: 20px;
  padding: 4px 6px 4px 6px;
  float: right;
  border-right: 1px solid #000000;
}

#nav li.searchContainer {
	margin-top: -3px;
}

#nav li.searchContainer div {
  background-color: #6679AA;
  display: block;
  padding: 0px;
}

#nav .searchContainer .left-round {
    width:7px;
    height:26px;
    float:left;
    background: url("/static/img/search.png") no-repeat;
}

#nav li.searchContainer.focused div {
  background-color: #E3EBFC;
}
#nav li.searchContainer.focused .left-round {
    background: url("/static/img/search.png") no-repeat 0px -26px;
}


#nav li.searchContainer div:focus {
  background-color: #FFFFFF;
}


#nav a:link,
#nav a:visited {
  color: #FFFFFF;
  float: right;
  width: auto;
  text-decoration: none;
}



#nav a:hover,
#nav a:focus,
#nav #logo a:hover,
#nav #logo a:focus {
  color: #FFFFFF;
}

#nav li.active a:link,
#nav li.active a:visited {
  color: #FFFFFF;
}

#nav .searchContainer form input[type="text"] { 
  background-color:inherit;
  margin: 5px 0px;
  border: none;
  font-size:13px;
  float:left;
}


#nav li.searchContainer form input[type="submit"]{
  background: url("/static/img/search.png") no-repeat -7px 0 transparent;
  width: 18px;
  border: none;
  cursor: pointer;
  text-indent: -9999px; /* hide text on button */
  display: block;
  float:right;
  width:26px;
  height:26px;
}

#nav li.searchContainer form input:focus{
  outline: none;
}


#nav li.searchContainer.focused form input[type="submit"]{
  background: url("/static/img/search.png") no-repeat -7px -26px transparent;
}

#nav #logo a {
  border: none;
  color: #FFFFFF;
  padding: 4px 6px 4px 6px;
  font: 20px "Lucida Grande", Arial, Sans-serif;
  float: left;
}
