.left-tab, .right-tab {
    display:inline-block;
    margin-top:38px;
    position:relative;
}

.left-tab {
    width:152px;
    float: left;
}


.right-tab {
    min-height: 500px;
    width: 200px;
    border-width:1px 1px 1px 0;
    float: right;
    margin-left: -5px;
    background:white url('/static/img/right_shadow.png') repeat-y 0 0;
}

.training-pane {
    background: url('/static/img/right_header_tall.png') top right no-repeat;
    height: 248px;
}