.whale-name {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    color: white;
    padding: 20px 0 10px;
}

.whale {
   margin: 8px auto 10px;
   width: 130px;
   height: 130px;
}

.whale-progress-bar {
    width: 144px;
    margin-left: auto;
    margin-right: auto;
}