
.status-prompt .title {
    margin: 6px 0 14px;
    color: #1D4460;
}

.status-post .status-post-char-count {
    float: right;
    display: block;
    margin: 5px 10px 0px;
    color: #888;
}

.status-post .status-post-alert {
    float: left;
    color: #DD0000;
    padding: 0px 12px 0px 20px;
}

.status-post .status-post-button {
    display:block; 
    width: 99px;
    height: 29px;
    float:right;
    background: url("/static/img/tweet_btn.png") no-repeat top left;
    cursor: pointer;
}

.status-post .status-post-button:hover {
    background-position: 0px -29px;
}


.autocomplete-entry .autocomplete-image {
    float: left;
    padding: 0px 12px 0px 0px;
}

.autocomplete-entry .autocomplete-names .autocomplete-name {
    font-size: 10pt;
    color: #888888;
}
