{% extends "base.html" %}

{% block title %}
Recent Public Posts
{% endblock %}
 
{% block extra_js %}

<script type="text/javascript">
	function rate(kind, foundid) {
	  $.post(
        "/twitter/rate/", 
        { rating: kind, id: foundid }
      );
	}
	
    function addClickHandlers() {
        $(".hoverable").hover(
            function() { $(this).addClass("hilite"); },
            function() { $(this).removeClass("hilite"); }
        );

		$(".like").click( 
            function () { 
                rate("up", $(this).closest(".entry").attr("id")); 
                $(this).slideUp(); 
                $(this).siblings().hide();
            }
        );

		$(".dislike").click( 
            function() { 
                rate("down", $(this).closest(".entry").attr("id")); 
                $(this).slideUp(); 
                $(this).siblings().hide();
            }
        );
    }

	$(document).ready(addClickHandlers);
	
</script>

{% endblock %} 

{% block content %} 
{% if errors %}
<ul>
	{% for error in errors %}
	<li>{{ error }}</li>
	{% endfor %}
</ul>
{% endif %}

{% for status in recentStatuses %}

<div class="entry" id="{{ status.GetId }}">

<div class="tweet-usr-profile"><a
	href="http://twitter.com/{{ status.GetUser.GetScreenName }}"> <img
	class="photo" width="48" height="48"
	src="{{ status.GetUser.GetProfileImageUrl }}"
	alt="{{ status.GetUser.GetName }} " /> </a></div>

<div class="tweet-body">
<p><a class="twtr-user"
	href="http://twitter.com/{{ status.GetUser.GetScreenName }}">
	{{ status.GetUser.GetScreenName }} </a> {{ status.GetText }} <a
	class="tweet-hlink" href="http://twitpic.com/20seue" target="_blank"></a>

<i> <a class="tweet-timestamp"
	href="http://twitter.com/{{ status.GetUser.GetScreenName }}/status/{{ status.GetId }}"
	target="_blank">{{ status.GetRelativeCreatedAt }}</a> </i></p>
</div>

<div class="rate-link"><a class="like hoverable">Like</a> <a
	class="dislike hoverable">Dislike</a></div>
</div>

{% empty %} 
There are no posts to display. 
{% endfor %}

{% endblock %}
