mydb.db
local_settings.py

static/CACHE/

classiwhale
.project
.pydevproject
*.ropeproject
*.pyc
*.pid
*~
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.pkl
*.tgz

*.log
*.sql
*.sqlite

.DS_Store?
ehthumbs.db
Icon?
Thumbs.db

