<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>

<link rel="stylesheet" href="/static/feed.css" />
<link rel="stylesheet" href="/static/base.css" />
<script type="text/javascript" src="/static/jquery-1.4.2.js"></script>
<title>
{% block title %}
{% endblock %}
</title>

{% block extra_js %}
{% endblock %}

{% block extra_css %}
{% endblock %}

</head>

<body>

<div id="nav">
<ul>
{% if user.is_authenticated %}
    <li id="nav-logout"><a href="{% url twitterauth.views.twitter_logout %}">Logout</a></i>
{% else %}
    <li id="nav-login"><a href="{% url twitterauth.views.twitter_login %}">Login</a></li>
{% endif %}
    <li id="nav-about"><a href="/about">About</a></li>
    <li id="nav-ratings"><a href="#">Ratings</a></li>
    <li id="nav-recent"><a href="{% url tweet.views.recent_public_posts %}">Recent</a></li>
    <li id="nav-search"><a href="{% url tweet.views.user_search_index %}">Search</a></li>
    <li id="nav-home"><a href="{% url tweet.views.list_statuses %}">Home</a></li>
{% if user.is_authenticated %}
    <li id="nav-profile"><a href="#">{{ user.get_profile.screen_name }}</a></li>
{% endif %}
</ul>
</div>

<div style="clear: both;"></div>

<div id="header">
	<div class="logo">Tweed</div>
</div>




<div id="middle">

<div id="content">
{% block content %}
{% endblock %}
</div>

</div>

<div id="footer">
{% block footer %}
{% endblock %}
</div>

</body>
</html>