    <script type="text/javascript">
    
    // Attaches the click handler for follow/unfollow.
    // Sends message to create_friendship
    function startPostHandler() {
        $('#follow-user').unbind('click').click(
              			function() {
                      		$.post("/status/create_friendship/",
            					   { friend_username: "{{friend.id}}" },
	    							function(data) {
	       								handleTwitResponse(data);
	    							}
            				      );
            			});
    }
    
	function handleTwitResponse(data) {
    	if(data.success == "True") {
			location.reload(true);
    	} else {
        	alert("Whoops, looks like Twitter is fail whaling");
    	}	
	}
	
    $(document).ready(startPostHandler);	
    </script>
    
    {% if follow_request_sent %}
    <div>You've already requested to follow {{friend.name}}</div>
    {% else %}
	<div id="follow-user">
	    <div>Follow {{ friend.name }} on Twitter</div>
	</div>
	{% endif %}
	