    <script type="text/javascript">
    
    // Attaches the click handler for follow/unfollow.
    // Sends message to create_friendship
    function startPostHandler() {
        $('.follow-unfollow .follow-user').unbind('click').click(
              			function() {
                      		$.post("/twitter/create_friendship/",
            					   { friend_username: "{{friend.id}}" },
	    							function(data) {
	       								handleTwitResponse(data);
	    							}
            				      );
            			});
        $('.follow-unfollow .unfollow-user').unbind('click').click(
              			function() {
                      		$.post("/twitter/destroy_friendship/",
            					   { friend_username: "{{friend.id}}" },
	    							function(data) {
	       								handleTwitResponse(data);
	    							}
            				      );
            			});
    }
    
	function handleTwitResponse(data) {
    	if(data.success == "True") {
			location.reload(true);
    	} else {
        	alert("Whoops, looks like Twitter is fail whaling");
    	}	
	}
	
    $(document).ready(startPostHandler);	
    </script>
    
    <div class="follow-unfollow">
    {% if is_true_friend %}
	    <div class="unfollow-user">
	      <div class="already-following">Unfollow {{ friend.name }} on Twitter</div>
	    </div>
    {% else %}
      {% if follow_request_sent %}
        <span>Your follow request has been sent. <span>
	    <span class="unfollow-user">
	      <span>Cancel</span>
	    </span>
        <div>You've already requested to follow {{friend.name}}</div>
      {% else %}
	    <div class="follow-user">
	      <div>Follow {{ friend.name }} on Twitter</div>
	    </div>
	  {% endif %}
	{% endif %}
	</div>
	