{% load tweets %}
{% load base_extras %}


{% for status in statuses %}

<div class="status" data-id="{{ status.id }}">

	
	<div class="tweet-usr-profile">
		<a href="/profile/{{ status.user.screen_name }}">
			<img class="photo" width="48" height="48" src="{{ status.user.profile_image_url }}" alt="{{ status.user.name }} " /> 
		</a>
	</div>
	
	<div class="tweet-body">
		<p>
			<a class="twtr-user" href="/profile/{{ status.user.screen_name }}">
				{{ status.user.screen_name }} 
			</a> 
			{{ status.text|tweet }}
			<i>
				<a class="tweet-timestamp" target="_blank" href="http://twitter.com/{{ status.user.screen_name }}/status/{{ status.id }}" target="_blank">
					{{ status.relative_created_at }}
				</a> 
			</i>
		</p>
	</div>
	<div class="rate-buttons">
	  <div class="like{{ status.likeClass }}"></div>   
	  <div class="dislike{{ status.dislikeClass }}"></div>
	</div>
</div>


{% empty %} 
There are no posts to display. 
{% endfor %}















