{% extends "panes.html" %}

{% block title %}
Recent Tweets
{% endblock %}

{% block middle %} 

    <script type="text/javascript">
    $(function() {
        $(window).infinitescroll({
            url: "/status/ajax_timeline/",
            appendTo: ".statuses"
        });
        
        $(window).bind('infinitescroll.finish', function() {
            addRateLinkHandlers();
        });
    });
    </script>

	<div class="status-prompt">
	    <div>What&#39;s happening?</div>
	    <div class="status-post">
            <div id="post-input-text"><input type="text" id="postinput" width="200"/></div>
			<span class="status-post-button">Post</span> <span class="status-post-alert"></span> <span class="status-post-char-count">140</span>
        </div>
	</div>

    <div class="statuses">
	   {% include 'twitter/status_list.html' %}
    </div>
    
    {% load compress %}
    {% compress js %}
    <script type="text/javascript" src="/static/js/twitpost.js"></script>
    {% endcompress %}
    
    <script type="text/javascript">
    
    var list_of_friends = new Array();
	{% for friend in friends %}
	list_of_friends.push({screen_name: "{{friend.screen_name}}", name: "{{friend.name}}", image_url: "{{friend.profile_image_url}}" });
	{% endfor %}
	
    $(document).ready( function(){ startPostHandler(list_of_friends); } );	
    </script>
    
{% endblock %}


