{% extends "panes.html" %}

{% block title %}
Recent Tweets
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
    pageType = '{{ feedtype }}'
    var $loading = $("<div class='loading'><p>Loading more items&hellip;</p></div>");
    var pageIndex = 2;

    opts = { 
        offset: function() {
            return $.waypoints('viewportHeight') - $(this).outerHeight() + 200;
        },
    }
    $("#statuses_end").waypoint(function(event, direction) {
//        var status = JSON.parse($(".status:last").attr("data-status"));
//        var maxid = status.id;
        var maxid = $(".status:last").attr("data-id");
        $("#statuses_end").waypoint('remove');
        $(".statuses").append($loading);
        $.get("/status/ajax_timeline/", {page: pageIndex, id: maxid, timeline: pageType}, function(data) {
            if (data!= '') {
                $loading.detach();
                pageIndex++;
                $(".statuses").append(data);
                addRateLinkHandlers();
                $("#statuses_end").waypoint(opts);
            }
        });
    }, opts);
});
</script>
{% endblock %}

{% block middle %} 

	<div class="status-prompt">
	    <div class="status-post">
            <div id="post-input-text">
                <textarea class="postinput" rows="1">What's happening?</textarea>
            </div>   
            <div>
    			<span class="status-post-button"></span>
                <span class="status-post-char-count">140</span>
    			<span class="status-post-alert"></span>
                <div class="clear"></div>
            </div>
        </div>
	</div>

    <div class="statuses">
	   {% include 'twitter/status_list.html' %}
    </div>
    <div id="statuses_end">
    </div>
    
    {% load django_static %}
    {% slimall %}
    <script type="text/javascript" src="/static/js/twitpost.js"></script>
    <script type="text/javascript" src="/static/js/autoresize.jquery.js"></script>
    {% endslimall %}
    
    <script type="text/javascript">
    
    var list_of_friends = new Array();
	{% for friend in friends %}
	list_of_friends.push({screen_name: "{{friend.screen_name}}", name: "{{friend.name}}", image_url: "{{friend.profile_image_url}}" });
	{% endfor %}
	
    $(document).ready( function(){ startPostHandler(list_of_friends); } );	
    </script>
    
{% endblock %}


