<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
    <link rel="shortcut icon" href="/static/img/favicon.png"/>
    {% load compress %}
    {% compress css %}

    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/navigation.css" />
    <link rel="stylesheet" href="/static/css/feed.css" />
    <link rel="stylesheet" href="/static/feedback/feedback.css"/>
    <link rel="stylesheet" href="/static/css/panes.css" />
    <link rel="stylesheet" href="/static/css/friends.css" />
    <link rel="stylesheet" href="/static/css/training_profile.css" />
    <link rel="stylesheet" href="/static/css/jquery-ui-all.css" />
    <link rel="stylesheet" href="/static/css/twitpost.css" />


    {% block extra_css %}
    {% endblock %}

    {% endcompress %}
    <script type="text/javascript" src="/static/js/jquery-1.4.4.min.js"></script>
    {% compress js %}
    <script type="text/javascript" src="/static/js/jquery.scrollTo.js"></script>
    <script type="text/javascript" src="/static/js/jquery.infinitescroll.js"></script>
    <script type="text/javascript" src="/static/js/jquery.oauthpopup.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-all.js"></script>
    <script src="/static/feedback/jquery.form.js"></script>
    <script src="/static/feedback/feedback.js"></script>
    <script type="text/javascript" src="/static/js/base.js"></script>
    <script type="text/javascript" src="/static/js/rating.js"></script>
    <script type="text/javascript" src="/static/js/training_profile.js"></script>


    {% if GOOGLE_ANALYTICS_KEY %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20334343-1']);
      _gaq.push(['_setDomainName', '.classiwhale.com']);
      _gaq.push(['_trackPageview']);
      
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}

    {% block extra_js %}
    {% endblock %}

    {% endcompress %}

    
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>


<body>
    {% include "navigation.html" %}
    {% include "feedback/button.html" %}
    <div id="background"></div>
    <div id="middle">
        <div id="content">
        	
			{% if errors %}
			<ul>
				{% for error in errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
			{% endif %}

			{% block content %}
			{% endblock %}
            
			{% include "feedback/button.html" %}
        </div>
        <br/><br/>
    </div>
    
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>


</html>
