<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
    <link rel="shortcut icon" href="/static/img/favicon.png"/>
    <link rel="stylesheet" href="/static/css/main.css" />
    <script type="text/javascript" src="/static/js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    {% include "feedback/header.html" %}
    
    <title>
        {% block title %}
        {% endblock %}
    </title>
    
    {% block extra_js %}
    {% endblock %}
    
    {% block extra_css %}
    {% endblock %}
</head>


<body>
    {% include "navigation.html" %}
    {% include "feedback/button.html" %}
    
    <div id="wave_bg">
	</div>

    <div id="middle">
        <div id="content">
        	
			{% if errors %}
			<ul>
				{% for error in errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
			{% endif %}

        	<div class="status-container">
				<div class="header-wrapper">
					<div class="header">
					    <div class="left-bg"></div>
					    <div class="title">Recent Tweets</div>
					    <div class="links"><a>Filtered</a> &middot; <a class="link" href="#">Unfiltered</a></div>
					    <div class="right-bg"></div>
					</div>
				</div>
				
	            {% block content %}
            	{% endblock %}
            </div>
            
			{% include "feedback/button.html" %}
			        
			<div class="right-tab">
				<img class="corner" src="/static/img/right_tab_corner.png"/>
			</div>
        </div>
    </div>
    
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>


</html>