<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
    <link rel="shortcut icon" href="/static/img/favicon.png"/>
    {% load compress %}
    {% compress css %}

    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/navigation.css" />
    <link rel="stylesheet" href="/static/css/feed.css" />
    <link rel="stylesheet" href="/static/feedback/feedback.css"/>
    <link rel="stylesheet" href="/static/css/panes.css" />
    <link rel="stylesheet" href="/static/css/friends.css" />
    <link rel="stylesheet" href="/static/css/training_profile.css" />
    <link rel="stylesheet" href="/static/css/jquery-ui-1.8.9.custom.css" />
    <link rel="stylesheet" href="/static/css/landingPage.css" />

    {% block extra_css %}
    {% endblock %}

    {% endcompress %}
    <script type="text/javascript" src="/static/js/jquery-1.4.4.min.js"></script>
    {% compress js %}
    <script type="text/javascript" src="/static/js/jquery.scrollTo.js"></script>
    <script type="text/javascript" src="/static/js/jquery.infinitescroll.js"></script>
    <script type="text/javascript" src="/static/js/jquery.oauthpopup.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.9.custom.min.js"></script>
    <script src="/static/feedback/jquery.form.js"></script>
    <script src="/static/feedback/feedback.js"></script>
    <script type="text/javascript" src="/static/js/base.js"></script>
    <script type="text/javascript" src="/static/js/rating.js"></script>
    <script type="text/javascript" src="/static/js/twitpost.js"></script>
    <script type="text/javascript" src="/static/js/training_profile.js"></script>
    <script type="text/javascript" src="/static/js/landing_slideshow.js"></script>


    {% if GOOGLE_ANALYTICS_KEY %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20334343-1']);
      _gaq.push(['_setDomainName', '.classiwhale.com']);
      _gaq.push(['_trackPageview']);
      
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}

    {% block extra_js %}
    {% endblock %}

    {% endcompress %}

    
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>


<body>
	{% load base_extras %}
    <div id="nav">	
		<div class="nav-bound">
            <a class="logo"></a>
        </div>
	</div>
	<div class="clear"></div>


    {% include "feedback/button.html" %}
    
    
    <div id="middle">
        <div id="content">
            <div id="landingTop">
                <div id="landingSlideshow">
                    <div class="leftbg"></div>
                    <img class="slide one active" src="/static/img/landing/slide_one.png"/>
                    <img class="slide two" src="/static/img/landing/slide_two.png"/>
                    <img class="slide three " src="/static/img/landing/slide_three.png"/>
                    <div class="controls">
                        <div class="page active one" slide="1"><a>1</a></div>
                        <div class="page two" slide="2"><a>2</a></div>
                        <div class="page three" slide="3"><a>3</a></div>
                    </div>
                    <div class="rightbg"></div>
                </div>
                <div id="landingLogin">
                    <div class="leftbg"></div>
                    <img class="personal" src="/static/img/landing/personal_filter.png"/>
                    <div class="btn-wrapper">
                        <img class="button" src="/static/img/landing/sign_in_btn.png"/>or <a target="_blank" href="https://twitter.com/signup">create a new account</a>
                    </div>  
                <div class="rightbg"></div>
                </div>
                <div class="clear"></div>
            </div>
            
            <div id="landingSpace"></div>
            <div id="landingBottom">
                <div id="landingReasons">
                    <div class="title">Why ClassiWhale?</div>
                    <div class="reasons">
                        <ul>
                            <li>Personalize your Twitter feed to your interests</li>
                            <li>Filter uninteresting tweets</li>
                            <li>Follow more people</li>
                            <li>Read fewer tweets, and with higher quality</li>
                            <li>Get recommended tweets</li>
                        </ul>                       
                    </div>
                    <a class="find-more" href="/about"><img src="/static/img/landing/find_more_btn.png" style="border-width:0px;"/></a>
                </div>
                <div id="landingPublicity">
                    <div class="leftbg"></div>
                    <div class="wrapper">
                        <div class="title">Recent News</div>
                        <div class="item"><span>February 10 -</span>We hope you enjoy our improved algorithm, delivering even better tweets.</div>
                        <div class="item"><span>January 25 -</span>Thanks to ProPeople Inc. for their continued support.</div>
                        <div class="item"><span>January 21 -</span>Launch of ClassiWhale Beta! Welcome to the future of Twitter.</div>
                        <div class="more"><a target="_blank" href="http://twitter.com/classiwhale">Read More</a> &gt;</div>
                    </div>
                    <div class="rightbg"></div>
                </div>            
            </div>         	
        </div>
        <br/><br/>
    </div>

    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>


</html>
