{% load base_extras %}

<div id="nav">	
	<div class="nav-bound">
		{% if user.is_authenticated %}
		    <a href="{% url twitter.views.timeline %}" class="logo"></a>
		{% endif %}
		
		<ul>
		    <li class="searchContainer">
			    <div>
			    	<script type="text/javascript">
			    		function searchFocus(obj){
			    			if ($.trim($(obj).val()) == 'Search'){
			    				$(obj).val('');
			    			}
			    			$(obj).closest(".searchContainer").addClass("focused");
			    		}
			    		
			    		function searchBlur(obj){
			    			$(obj).closest(".searchContainer").removeClass("focused");
			    			if ($.trim($(obj).val()) == ''){
			    				$(obj).val('Search');
			    			}
			    		}
			    		
			    	</script>
				    <form action="{% url twitter.views.search %}" method="get">
					    <input type="text" id="q" name="q" onfocus="searchFocus(this)" onblur="searchBlur(this)" value="Search"/>
					    <input type="submit" id="searchSubmit" alt="Search" />
					    <div class="clear"></div>
				    </form>
			    </div>
		    </li>
		    
		{% if user.is_authenticated %}

		    <script type="text/javascript">
            function hideUserMenu(){
                $('#nav .user-btn .collapse').show();
                $('#nav .user-btn .expand').hide();
            }
            $(function(){
                $(document).click(hideUserMenu);
                $('#nav .user-btn .option a').click( function(e) {
                    document.location = $(this).attr('href');
                    return false;
                });
                $('#nav .user-btn .collapse').click( function(e) {
                    $('#nav .user-btn .collapse').hide();
                    $('#nav .user-btn .expand').show();
                    return false;
                });
            });
            </script>
		    <li class="user-btn">
		        <div class="collapse">
		            <a class="name">{{ user.first_name }} {{ user.last_name }}</a>
		        </div>
		        
                <div class="expand" onclick="hideUserMenu()">
                    <a class="name">{{ user.first_name }} {{ user.last_name }}</a>
                    <div class="clear"></div>
                    
                    <div class="option"><a href="/about">About ClassiWhale</a></div>
                    <div class="option"><a href="{% url twitter.views.twitter_logout %}">Sign Out</a></div>
                    
                    <div class="arrow"></div>
                    <div class="tl-back"></div>
                    <div class="foot">
                        <div class="bl-back"></div>
                    </div>
                </div>
		    </li>
		    
            <li class="nav-link {% navactive request 'twitter.views.timeline' %}">
                <a href="{% url twitter.views.timeline %}">Home</a>
            </li>
            <li class="separator"></li>
            <li class="nav-link">
                <a href="{% url twitter.views.public_profile twitter_user.screen_name %}">Profile</a>
            </li>
		{% endif %}
		</ul>
	</div>
</div>
<div class="clear"></div>
