{% extends "base.html" %}

{% block content %}
<div class="left-tab">
  {% include "twitter/friend_list.html" %}
</div>
<div class="middle-tab" style="display:inline-block">
  <div class="status-container">
    <div class="header-wrapper">
      <div class="header">
	<div class="left-bg"></div>
	<div class="title">
          {% block title %}
          {% endblock %}
        </div>
 {% comment %}
        {% if request.path in ("/", "/twitter/predict/", "/twitter/filter/", "/twitter/reorder/") %}
{% endcomment %}
	<ul class="links">
          <li class="{% ifequal request.path "/" %}active{% endifequal %}">
            <a href="{% url twitter.views.timeline %}">Unfiltered</a>
          </li>
          <li class="{% ifequal request.path "/twitter/predict/" %}active{% endifequal %}">
            <a href="{% url prediction.views.predicted_friends_timeline %}">Filtered</a>
          </li>
          <li class="{% ifequal request.path "/twitter/reorder/" %}active{% endifequal %}">
            <a href="{% url prediction.views.reordered_friends_timeline %}">Reordered</a>
          </li>
        </ul>
{% comment %}
        {% endif %}
{% endcomment %}
	<div class="right-bg"></div>
      </div>
    </div>
    
    {% block middle %}
    {% endblock %}
  </div>
</div>
<div class="right-tab">
  {% include "training_profile.html" %}
</div>
{% endblock %}

