    <script type="text/javascript">
    
    // Attaches the click handler for follow/unfollow.
    // Sends message to create_friendship
    function startPostHandler() {
        $('.follow-unfollow .negative').corner("3px");
        $('.follow-unfollow .positive').corner("3px");
        
        $('.follow-unfollow .follow-user').unbind('click').click(
              			function() {
                      		$.post("/twitter/create_friendship/",
            					   { friend_username: "{{friend.id}}" },
	    							function(data) {
	       								handleTwitResponse(data);
	    							}
            				      );
            			});
        $('.follow-unfollow .unfollow-user').unbind('click').click(
              			function() {
                      		$.post("/twitter/destroy_friendship/",
            					   { friend_username: "{{friend.id}}" },
	    							function(data) {
	       								handleTwitResponse(data);
	    							}
            				      );
            			});
    }
    
	function handleTwitResponse(data) {
    	if(data.success == "True") {
			location.reload(true);
    	} else {
        	alert("Whoops, looks like Twitter is fail whaling");
    	}	
	}
	
    $(document).ready(startPostHandler);	
    </script>
    
    <div class="follow-unfollow">
    {% if not is_me %}
	    {% if is_true_friend %}
		    <div class="unfollow-user">
		      
		      <div class = "buttons">
			<a href="#" class="negative">
			  <img src="/static/img/cross.png" alt=""/>
			  Unfollow
			</a>
		      </div>
		    </div>
	    {% else %}
	      {% if follow_request_sent %}
	        <span>Your follow request has been sent. </span>
		    <span class="unfollow-user">
		      <span>Cancel</span>
		    </span>
	      {% else %}
		    <div class="follow-user">
		      <div class="buttons">
			  <a href="#" class="positive">
			  <img src="/static/img/tick.png" alt=""/>
			  Follow
			</a>
		      </div>     
		    </div>
		  {% endif %}
		{% endif %}
	{% endif %}
	</div>
	
