{% extends "panes.html" %}

{% block title %}
Recent Tweets
{% endblock %}

{% block middle %} 

	{% include 'twitter/user_profile_bar.html' %}

	{% if profile_protected and not is_true_friend %}
	You need to follow {{ friend.name }} to see their tweets.
	{% else %}
    <script type="text/javascript">
    $(function() {
        $(window).infinitescroll({
            url: "/status/ajax_user_timeline/",
            appendTo: ".statuses",
            getParams: 'screenname={{ friend.screen_name|urlencode }}&max_id={{ max_id }}'
        });
        
        $(window).bind('infinitescroll.finish', function() {
            addRateLinkHandlers();
        });
    });
    </script>
    
    <div class="statuses">
       {% include 'twitter/status_list.html' %}
    </div>
	{% endif %}
    
{% endblock %}
