{% extends "base.html" %} 

{% block extra_css %}
<link rel="stylesheet" href="/static/login.css" />
{% endblock %}

{% block content %} 

{% if form.errors %}
<p class="error">Sorry, that's not a valid username or password</p>
{% endif %}

<form action="" method="post">
	<label class="login_left" for="username">Username:</label> 
		<input class="login_right" type="text" name="username" value="" id="username">
	<div style="height:0px; width:0px"></div>
	<label class="login_left" for="password">Password:</label>
		<input class="login_right" type="password" name="password" value="" id="password">	
	<div style="height:0px; width:0px"></div>
<input type="submit" value="login" />
	<input type="hidden" name="next" value="{{ next|escape }}" />
</form>

{% endblock %}
