<script type="text/javascript">
    $(function() {
        $("#nav .nav-bound .nav-list .dropdown").accordion({collapsible: true, active: false, animated: false});
    });
</script>

<div id="nav">
    <div class="nav-bound">
	   <ul class="nav-list">
	       <li>ClassiWhale</a></li>
           <li>Search</li>
           <li>Home</li>
           <li>@me</li>
           <li>
               <div class="dropdown">
                   {% if user.first_name and user.last_name %}
	               <h>{{ user.first_name }} {{ user.last_name }}</h>
	               {% else %}
	               <h>Unknown User</h>
	               {% endif %}
	               <ul>
	                   <li>About ClassiWhale</li>
	                   <li>Sign Out</li>
	               </ul>
               </div>
           </li>
	   </ul>
    </div>
</div>
