<script type="text/javascript">
    $(document).ready(function() {
        setWhaleProgress({{request.user.get_profile.whale.exp}}, {{request.user.get_profile.whale.species.minExp}}, {{request.user.get_profile.whale.species.evolution.minExp}});
    });

</script>

<div class="training-pane">
  <div class="whale-name"> {{ request.user.get_profile.whale.name }} </div>
     <div class="whale">
          <img class="whale-photo" height="130px" width="130px" src="{{ request.user.get_profile.whale.species.img.url }}" alt="{{ request.user.get_profile.whale.species.name }}" /> 
    </div>
    <div class="whale-progress-bar"></div>
</div>
