{% extends "base.html" %}

{% block title %}
ClassiWhale: Search
{% endblock %}


{% block content %} 

    <div class="status-prompt">
        <div>Results for {{ term }}</div>
    </div>
    
    <script type="text/javascript">
    $(function() {
        $(window).infinitescroll({
            url: "/search/ajax/",
            appendTo: ".statuses",
            getParams: 'q={{ term|urlencode }}'
        });
        
        $(window).bind('infinitescroll.finish', function() {
            addRateLinkHandlers();
        });
    });
    </script>

    <div class="statuses">
       {% include 'twitter/status_list.html' %}
    </div>
    
{% endblock %}


