* { margin: 0; padding: 0; }

body {
	font: 13px/20px "Lucida Grande", Arial, Sans-serif;
}

div {
	margin: 2px 2px 2px 2px;
	padding: 2px 2px 2px 2px;
	display: block;
}

#nav {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
	background-color: #0C6651;
	float: left;
	display: inline;
}

#nav li {
	display: inline;
	padding: 0;
	margin: 0;
}

#nav a:link,
#nav a:visited {
	color: #FFD96A;
	background: #0C6651;
	padding: 4px 6px 4px 6px;
	float: right;
	width: auto;
	border-right: 1px solid #000000;
	text-decoration: none;
}



#nav a:hover,
#nav a:focus {
	color: #FFFFFF;
	background: #001F11;
}


#header {
	width: 98%;
	margin: 5px 0px 20px 5px;
}

#header .logo {
	height: 30px;
	font-size: 30px;
}

#middle {
	width: 98%;
}

form {
	height: 80px;
	width: auto;
}

#sidenav {
	float: left;
	width: 140px;
}

#sidenav ul {
	display: block;
	list-style-type: none;
	width: 150px;
}

#content {
	margin-left: 160px;
	color: #333333 !important;
	font-weight: normal;
	text-align: left;
	flush: left;
}

#footer {
	width: 98%;
}