* { margin: 0; padding: 0; }

body {
	font: 13px/20px "Lucida Grande", Arial, Sans-serif;
}

div {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	display: block;
}

form {
	display: inline;
}

#nav {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
	background-color: #0C6651;
	float: left;
	display: inline;
}

#nav li {
	display: inline;
	float: right;
}

#nav a,
#nav li.searchContainer {
	display: inline;
	height: 20px;
	padding: 4px 6px 4px 6px;
	float: right;
	border-right: 1px solid #000000;
}

#nav li.searchContainer {

}

#nav li.searchContainer div {
	background-color: #FFFFFF;
	display: inline;
	padding: 2px 2px 2px 2px;
}

#nav a:link,
#nav a:visited {
	color: #FFD96A;
	background: #0C6651;
	float: right;
	width: auto;
	text-decoration: none;
}



#nav a:hover,
#nav a:focus,
#nav #logo a:hover,
#nav #logo a:focus {
	color: #FFFFFF;
	background: #001F11;
}

#nav li.active a:link,
#nav li.active a:visited {
	color: #FFFFFF !important;
	background: #001F11 !important;
}

.searchContainer div form input[type="text"] { 
	border: none;
}

#nav li.searchContainer div form input[type="submit"]{
	background: url(/static/magnifier.png) no-repeat;
	width: 18px;
	height: 20px;
	border: none;
	vertical-align: text-top; 
	cursor: pointer;
	text-indent: -9999px; /* hide text on button */
	display: inline;
}

#nav #logo a {
	border: none;
	color: #FFD96A;
	background: #0C6651;
	padding: 4px 6px 4px 6px;
	font: bold 13px/20px "Lucida Grande", Arial, Sans-serif;
	float: left;
}

#middle {
	width: 98%;
}



#sidenav {
	float: left;
	width: 140px;
}

#sidenav ul {
	display: block;
	list-style-type: none;
	width: 150px;
}

#content {
	margin-left: 160px;
	color: #333333 !important;
	font-weight: normal;
	text-align: left;
	flush: left;
}

#footer {
	width: 98%;
}